.forecastOld {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.forecast > h1,
.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.forecast {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
}
